---

- name: Configure App Servers
  hosts: app
  become: yes
  roles:
    - app

- name: Configure DB Servers
  hosts: db
  become: yes
  roles:
    - db

- name: Configure Web Servers
  hosts: web
  become: yes
  roles:
    - web