version: "1.0.0"
services:
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - ./backend/.env.sample
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
      - redis
  mongodb:
    container_name: mongo
    image: mongo:latest
    ports:
      - "27017:27017"

  frontend:
    container_name: frontend
    build: ./frontend
    ports: 
    - "3000:3000"

  redis:
    container_name: redis
    image: 