{# APP_NAME= {{ app_name }} #}
{# APP_PORT= {{ app_port }}}
{# {% for user in users %} #}
{# user :  {{ user }} #}
{# {% endfor %} #}

{# {{ env | upper }} #}
{# {{ env | title }} #}
{# {{ env | length }} #}
{# {{ var | min }} #}
{# {{ var | trim }} #}

{# { var| join('/') } #}
{# { var | sort } #}