- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Deploy nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: Restart nginx

- name: Start nginx
  service:
    name: nginx
    state: startedsudo tail -f /var/log/nginx/error.log

    enabled: yes
